.container
  display: flex
  flex-direction: column
  width: 100%
  & label
    margin-left: 2px
    margin-bottom: 6px
    color: #3333
    font-size: 1.1rem
  & input
    background: #ebe8e8
    border-radius: 2px
    outline: none
    border: 1px solid #a3a1a1
    padding: 12px
    font-size: .9rem

.error
  margin-top: 3px
  margin-left: 5px
  color: #953535
  font-size: .8rem